.interactive {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  overflow: hidden;

  .bod-menu, .gen-menu, .eth-menu {
    opacity: 0;
    visibility: hidden;
    transition-duration: 0.5s;
    transition-property: opacity, visibility, top;
  }

  .menu, .bod-menu, .gen-menu, .eth-menu {
    width: 100%;
    height: 10%;
    position: absolute;
    top: 3%;
    list-style-type: none;

    li {
      position: absolute;
      color: white;
      font-family: 'san';
      font-size: 2.5vh;
      text-align: center;
      cursor: pointer;
      height: 50%;

      p {
        margin-top: 1.2vh;
      }
    }
  }

  .image {
    height: 75%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .back {
    width: 6vh;
    height: 6vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    top: 3%;
    transition-duration: 0.5s;
    transition-property: opacity, visibility, top;
    cursor: pointer;
    z-index: 2;
  }

  .back img {
    width: 100%;
  }

  .pickmenu {
    top: 12%;
    opacity: 1;
    visibility: visible;
  }

  .pickmenuback {
    top: 20%;
    opacity: 1;
    visibility: visible;
  }

  .menu {
    li {
      width: 20%;
    }

    li:nth-child(1) {
      left: 15%;
      transform: translateX(-15%);
    }

    li:nth-child(2) {
      left: 50%;
      transform: translateX(-50%);
    }

    li:nth-child(3) {
      left: 85%;
      transform: translateX(-85%);
    }

  }

  .bod-menu li {
    width: 15%;
  }

  .bod-menu li:nth-child(1), .eth-menu li:nth-child(1) {
    left: 10%;
    transform: translateX(-10%);
  }

  .bod-menu li:nth-child(2), .eth-menu li:nth-child(2) {
    left: 30%;
    transform: translateX(-30%);
  }

  .bod-menu li:nth-child(3), .eth-menu li:nth-child(3) {
    left: 50%;
    transform: translateX(-50%);
  }

  .bod-menu li:nth-child(4), .eth-menu li:nth-child(4) {
    left: 70%;
    transform: translateX(-70%);
  }

  .bod-menu li:nth-child(5), .eth-menu li:nth-child(5)  {
    right: 10%;
    transform: translateX(10%);
  }

  .gen-menu li:nth-child(1) {
    left: 33%;
    transform: translateX(-33%);
  }

  .gen-menu li:nth-child(2) {
    left: 66%;
    transform: translateX(-66%);
  }

}

@media screen and (max-width:900px) {

  .interactive {
    width: 100%;
    position: relative;
    height: 200vw;
    .image {
      display: block;
      position: relative;
      top: 0;
      width: 90%;
      margin: 0 auto;
      margin-top: 10vw;
    }
    .back {
      width: 15vw;
      height: 15vw;
    }
    .gen-menu, .bod-menu, .eth-menu {
      height: auto;
      text-align: center;
      font-size: 7vw;
    }
    .gen-menu li {
      height: 40%;
      font-size: 7vw;
      height: 15vw;
      line-height: 15vw;
      position: relative;
    }
    .bod-menu li, .eth-menu li {
      height: 40%;
      font-size: 6vw;
      height: 12vw;
      line-height: 12vw;
      position: relative;
      left: 0 !important;
      right: 0 !important;
      transform: translate(0, 0) !important;
      width: 100%;
    }
    .pickmenu {
      top: 3%;
      opacity: 1;
      visibility: visible;
    }
    .menu {
      height: 60vw;
      position: relative;
      li {
        width: 100%;
        height: 25%;
        position: relative;
        display: block;
        margin: 4% auto;
        p {
          margin-top:0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 7vw;
        }
      }
    }
  }
}
