
* {
  margin: 0;
  padding: 0;
}

@mixin positions($number1, $number2) {
  position: absolute;
  left: $number1;
  top: $number2;
  transform: translate(-$number1,-$number2);
}

.invisible {
  visibility: hidden;
  opacity: 0;
}

body {
  background: black;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

::selection {
  background: white;
  color: black;
}

.content {
  // height: 200vh;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.title {
  width: 80vh;
  z-index: 2;
  @include positions(50%, 5%);
}

@keyframes bouncy {
    0% {transform: translateY(0);}

    50% {transform: translateY(0);}

    100% {transform: translateY(0);}

    25% {transform: translateY(50%);}

    75% {transform: translateY(50%);}
}

.arrow {
  @include positions(50%, 35%);
  z-index: 2;
  width: 100%;
  text-align: center;
  img {
    width: 3%;
    animation: bouncy 2s infinite;
  }
}



/*Base Section______________________*/

.base-content {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  background: url(../images/bgs/popupbg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center bottom;
  z-index: 4;
  transition: opacity .3s;

  .text {
    height: 100%;
    width: 50%;
    color: white;
    display: inline-flex;
    align-items: center;
    // text-align: center;
    left: 0%;
    margin: auto;
    font-family: "Arial";
    font-size: 2.5vh;
    line-height: 4vh;
    position: absolute;
    background: rgba(0,0,0,0.5);

    li {
      width: 80%;
      margin: 2% auto;
    }
  }

  .text-misc {
    min-height: 100%;
    width: 100%;
    color: white;
    display: block;
    text-align: center;
    left: 0%;
    margin: auto;
    font-family: "Arial";
    font-size: 2.5vh;
    line-height: 4vh;
    position: absolute;
    background: rgba(0,0,0,0.5);

    p {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      margin: auto;
      width: 75%;
    }
  }
}

/*Radio______________________*/

.radio {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 3;

  em {
    font-size: 3vh;
  }

  .septagon {
    position: relative;
    width: 75vh;
    height: 75vh;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);

    .labels {
      text-align: center;
      color: white;
      font-size: 4vh;
      font-family: "Century Gothic";
      font-weight: bold;
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
    }

    span {
      display: block;
      width: 18vh;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -9vh;
      cursor: pointer;
      transition: 0.6s opacity;
      img {
        display: block;
        width: 100%;
      }
    }
  }
}



/*Transformations______________________*/

.deg40 {
  transform: rotate(40deg) translate(37.5vh) rotate(-40deg);
}

.deg90 {
  transform: rotate(90deg) translate(37.5vh) rotate(-90deg);
}

.deg140 {
  transform: rotate(140deg) translate(37.5vh) rotate(-140deg);
}

.deg195 {
  transform: rotate(195deg) translate(37.5vh) rotate(-195deg);
}

.deg245 {
  transform: rotate(245deg) translate(37.5vh) rotate(-245deg);
}

.deg295 {
  transform: rotate(295deg) translate(37.5vh) rotate(-295deg);
}

.deg345 {
  transform: rotate(345deg) translate(37.5vh) rotate(-345deg);
}

/*Animations______________________*/

.slides, .blurfx {
  position: relative;
  width: 100%;
  height: 100vh;
  top: 0px;
  z-index: 1;
  span {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 0px;
    opacity: 0;
    background-size: cover;
    background-repeat: no-repeat;
    animation: matinyAnim 30s linear infinite;
  }
}

.slides {
  span:nth-child(1) {
    background-image: url(../images/bgs/1wall.jpg);
  }

  span:nth-child(2) {
    background-image: url(../images/bgs/2wall.jpg);
    animation-delay: 5s;
  }

  span:nth-child(3) {
    background-image: url(../images/bgs/3wall.jpg);
    animation-delay: 10s;
  }

  span:nth-child(4) {
    background-image: url(../images/bgs/4wall.jpg);
    animation-delay: 15s;
  }

  span:nth-child(5) {
    background-image: url(../images/bgs/5wall.jpg);
    animation-delay: 20s;
  }

  span:nth-child(6) {
    background-image: url(../images/bgs/6wall.jpg);
    animation-delay: 25s;
  }
}
.blurfx {
  span:nth-child(1) {
    background-image: url(../images/bgs/1blur.jpg);
  }

  span:nth-child(2) {
    background-image: url(../images/bgs/2blur.jpg);
    animation-delay: 5s;
  }

  span:nth-child(3) {
    background-image: url(../images/bgs/3blur.jpg);
    animation-delay: 10s;
  }

  span:nth-child(4) {
    background-image: url(../images/bgs/4blur.jpg);
    animation-delay: 15s;
  }

  span:nth-child(5) {
    background-image: url(../images/bgs/5blur.jpg);
    animation-delay: 20s;
  }

  span:nth-child(6) {
    background-image: url(../images/bgs/6blur.jpg);
    animation-delay: 25s;
  }
}


@keyframes matinyAnim {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }

  5% {
    opacity: 1;
    animation-timing-function: ease-out;
  }

  20% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

/*Lower Section______________________*/


.thumbs {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  width: 100%;
  z-index: 2;

  .logo {
    display: inline-block;
    margin: 2% auto;
    width: 100%;
    text-align: center;
    img {
      width: 20%;
    }
  }

  .home-text {
    height: 100%;
    width: 45%;
    color: white;
    // display: block;
    margin: 0 auto;
    font-family: "Arial";
    font-size: 2.5vh;
    line-height: 4vh;
  }
  li {
    margin: 2% auto;
  }
}

.links {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  margin: 2% 0;
  list-style-type: none;
  li {
    margin: 0 2%;
    text-align: center;
    width: 12.5%;
    cursor: pointer;
    img {
      width: 100%;
      // margin: 0 auto;
    }
  }
}


.close-button {
  height: 2vw;
  width: 2vw;
  z-index: 10;
  @include positions(99%, 2%);
  background: url(../images/svgs/x-button.svg);
  background-size: cover;
  cursor: pointer;
}



/*Queries______________________*/

@media screen and (min-width:1200px) {
  .hexagon {
    width: 15%;
    padding-bottom: 17.3%;
  }

  .hexagon:nth-child(3), .hexagon:nth-child(4) {
    margin-top: -3%;
    margin-bottom: -3%;
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
  }

  .hexagon:nth-child(3) {
    margin-left: 1.25%;
    clear: left;
  }

  .hexagon:nth-child(5) {
    clear: left;
  }

  .hexagon:nth-child(4), .hexagon:nth-child(6) {
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  .hexagon:nth-child(1) {
    margin-right: 2.5%;
  }
}

.mobile-yes {
  display: none;
}

@media screen and (max-width:900px) {
  .thumbs {
    height: auto;
    position: relative;
  }

  .base-content {
    .text {
      text-align: center;
      position: relative;
      height: 600px;
      width: 100%;
      font-size: 20px;
      line-height: 25px;
      display: block;
      p {
        width: 100%;
      }
    }
  }

  .base-content {
    .text-misc {
      position: relative;
      height: auto;
      width: 100%;
      background: none;
      font-size: 5vw;
      line-height: 8vw;
      margin-bottom: 10%;
      p {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        margin-top: 10%;
        width: 90%;
      }
    }
  }

  .mobile-no {
    display: none;
  }

  .content {
    height: 100vh;
  }

  .mobile-yes {
    display: block !important;
  }

  .mobile-content {
    position: relative;
    left: 0;
    transition: left, 0.6s;
  }

  .mobile-menu {
    overflow-y: hidden;
    height: 110%;
    width: 70vw;
    position: absolute;
    top: 0;
    left: -70vw;
    transition: left 0.6s;

    div {
      display: block;
      height: 10%;
      font-size: 6vw;
      font-family: Arial;
      font-weight: bold;
      line-height: 20vw;
      width: 100%;
      background: rgba(0, 0, 0, 0.5);
      margin: 2vw auto;
      color: white;
      text-align: center;
      text-decoration: none;
    }

    img {
      width: 80%;
      display: block;
      margin: 5% auto;
    }
  }

  .mobile-title {
    width: 90%;
    margin: 10% auto 10% auto;
    display: block;
  }

  .menu-button {
    width: 15%;
    margin-left: 7%;
    margin-top: 5%;
  }

  .mobile-desc {
    width: 80%;
    text-align: center;
    display: block;
    margin: 0 auto 10% auto;
    color: white;
    font-family: Arial;
    font-size: 5vw;
    line-height: 8vw;
    text-shadow: 0px 0.5vw 1vw black;
  }

  .show-mobile-menu {
    left: 0;
  }

  .push-mobile-content {
    left: 70vw;
  }
  .close-button {
    position: relative;
    width: 7vw;
    height: 7vw;
    left: 0;
    transform: translate(0);
    margin: 0 auto;
  }
}
